.button{
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #c270f8;
  padding: 5px 15px;
  margin: 10px 10px;
  background-color: transparent;
  cursor: pointer;
  transition-duration: 0.3s;
  &:hover{
    background-color: #c270f8;
    color: #ffffff;
  }
}